
@font-face {
	@include font-include('Mersad', 400, swap, normal, 'Mersad-Regular');
}

@font-face {
	@include font-include('Mersad', 500, swap, normal, 'Mersad-Medium');
}

@font-face {
	@include font-include('Mersad', 600, swap, normal, 'Mersad-SemiBold');
}

@font-face {
	@include font-include('Mersad', 700, swap, normal, 'Mersad-Bold');
}

@font-face {
	@include font-include('Jost', 400, swap, normal, 'Jost-Regular');
}

@font-face {
	@include font-include('KronaOne', 400, swap, normal, 'KronaOne-Regular');
}

.main-title {
	font-family: var(--title-font);
	font-weight: 700;
	line-height: 115%;

	font-size: 1.875rem;

	@include _768 {
		font-size: 2.5rem;
	}

	@include _992 {
		font-size: 3.125rem;
	}
}

.title {
	
	font-family: var(--title-font);
	font-weight: 700;

	font-size: 1.125rem;

	@include _768 {
		font-size: 1.5rem;
	}

	@include _992 {
		font-size: 1.875rem;
	}

}

.section-title {

	font-family: var(--title-font);
	font-weight: 700;

}

.txt-center {
	text-align: center;
}
